body {
  background: url(../img/tardis_background_2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h2 {
  color: white;
  text-align: center;
  padding-bottom: 25px;
}
/*body {
  background: url("http://www.olen-inc.com/tardis_background_2.jpg");
  background-size: % 125%;
}*/

#space {
  /*padding: 4px;*/
  /*margin-top: 125px;*/
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  width: 200px;
  height: 300px;
  position: relative;
  float: center;
}

#spaceship {
  margin-top: 0px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  float: center;
  max-width: 30%;
  max-height: 30%;

  -webkit-transition: 3s linear;

}

/*#space:hover {
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}*/

/*#spaceship:hover {
-webkit-animation-play-state: paused;
animation-play-state: paused;
}*/

.spin-fwd {
  -webkit-animation-name: spin-fwd;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-transform-style: preserve-3d;
}

.spin-bkw {
  -webkit-animation-name: spin-bkw;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-duration: 3s;
  -webkit-transform-style: preserve-3d;
}

@-webkit-keyframes spin-bkw {
  from {
    -webkit-transform: rotate(0deg);
    } to {
      -webkit-transform: rotate(-360deg);
    }
  }

  @-webkit-keyframes spin-fwd {
    from {
      -webkit-transform: rotate(0deg);
      } to {
        -webkit-transform: rotate(360deg);
      }
    }
